In [1]:
! pip install oracledb

Collecting oracledb
  Downloading oracledb-1.3.0-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 6.1 MB/s eta 0:00:00
Requirement already satisfied: cryptography>=3.2.1 in c:\users\user02\anaconda3\lib\site-packages (from oracledb) (39.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\user02\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.15.1)
Requirement already satisfied: pycparser in c:\users\user02\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Installing collected packages: oracledb
Successfully installed oracledb-1.3.0

In [2]:
import oracledb

In [29]:
con = oracledb.connect(user="system", password="oracle", dsn="localhost:1521/XEPDB1") # 데이터베이스에 연결
cursor = con.cursor() # 연결된 데이터베이스 지시자 생성

print('데이터베이스 연결 성공~!!!')

# 1. emp테이블의 내용 확인
cursor.execute("select * from emp") # 데이터베이스 명령 실행( cursor가 임시로 보관)
out_data = cursor.fetchall() # 커서의 내용을 out_data에 저장 # fetchone() :하나 읽어옴, fetchall(): 여러개 읽어옴(결과는 리스트)
for record in out_data: # out_data의 내용을 출력
    print(record)
print('-'*50)

# 2. dept테이블에 2개의 레코드를 삽입 후 승인
cursor.execute("insert into dept values(50, 'DEVELOPER','LA')")
cursor.execute("insert into dept values(60, 'DEVELOPER','ATL')")
cursor.execute('commit') # sqldeveloper에 커밋
cursor.execute("select * from dept")
out_data2 = cursor.fetchall()
for record in out_data2:
    print(record)
print('-'*50)
    
# 3. dept 테이블에서 dname이 "DEVELOPER"인 레코드 삭제 후 승인
cursor.execute("delete from dept where dname = 'DEVELOPER'")
cursor.execute("commit")
cursor.execute("select * from dept")
out_data2 = cursor.fetchall()
for record in out_data2:
    print(record)
print('-'*50)

# 4. emp 테이블과 dept 테이블을 inner join 수행
cursor.execute("select e.empno, e.ename, e.mgr, d.deptno, d.dname from emp e, dept d where e.deptno = d.deptno")
out_data = cursor.fetchall()
for record in out_data:
    print(record)
print('-'*50)

# 5. dept테이블의 구조와 내용을 이용하여 dept_ddl 테이블을 생성하시오. (단, create와 select를 활용하시오.)
cursor.execute("create table dept_ddl as select * from dept")
cursor.execute("select * from dept_ddl")
out_data = cursor.fetchall()
for record in out_data:
    print(record)
print('-'*50)

con.close() # 데이터베이스 연결 해제

데이터베이스 연결 성공~!!!
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1996, 11, 17, 0, 0), 5000.0, None, 10)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1991, 1, 5, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1999, 9, 6, 0, 0), 2450.0, None, 10)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(2001, 2, 4, 0, 0), 2975.0, None, 20)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(2003, 6, 17, 0, 0), 3000.0, None, 20)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 3, 12, 0, 0), 3000.0, None, 20)
(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(2007, 12, 1, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 8, 9, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(2087, 5, 23, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 3, 12, 0, 0), 950.0, None, 30)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(2003, 1, 23, 0, 0), 1300.0, None, 10)
--------------------------------------------------
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
(50, 'DEVELOPER', 'LA')
(60, 'DEVELOPER', 'ATL')
--------------------------------------------------
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
--------------------------------------------------
(7839, 'KING', None, 10, 'ACCOUNTING')
(7698, 'BLAKE', 7839, 30, 'SALES')
(7782, 'CLARK', 7839, 10, 'ACCOUNTING')
(7566, 'JONES', 7839, 20, 'RESEARCH')
(7788, 'SCOTT', 7566, 20, 'RESEARCH')
(7902, 'FORD', 7566, 20, 'RESEARCH')
(7369, 'SMITH', 7902, 20, 'RESEARCH')
(7499, 'ALLEN', 7698, 30, 'SALES')
(7521, 'WARD', 7698, 30, 'SALES')
(7654, 'MARTIN', 7698, 30, 'SALES')
(7844, 'TURNER', 7698, 30, 'SALES')
(7876, 'ADAMS', 7788, 20, 'RESEARCH')
(7900, 'JAMES', 7698, 30, 'SALES')
(7934, 'MILLER', 7782, 10, 'ACCOUNTING')
--------------------------------------------------
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
--------------------------------------------------