### 셀 상태
- 파란색 : Command mode
- 초록색 : Edit mode

### 단축키
- 셀 실행
  - Ctrl + Enter : 실행
  - Shift + Enter : 실행 후 셀 추가
- Command Mode에서
  - a : 위에 새로운 셀 추가
  - b : 밑에 새로운 셀 추가
  - x : 셀 잘라내기
  - dd : 셀 삭제
  - c : 셀 복사
  - v : 셀 붙여넣기
  - f : 문자 바꾸기
  - m : Markdown로 변경
  - y : Code로 변경
  - Shift로 여러 셀 선택 후 Shift + m : 셀 합치기
- Edit Mode에서
  - Ctrl + z : 코드 되돌리기
  - Ctrl + y : 코드 되돌린 거 다시 되돌리기
  - Ctrl + d : 해당 코드 한줄 삭제

# 첫번째
- 첫번째
  - 두번째
    - 세번째
## 두번째
### 세번째
#### 네번째

In [ ]:
abc1 = 1 # 주석입니다
abc2 = 2

abc3 = 3

abc1

1

# 1. 변수

In [ ]:
num = 3
print(num) # print() : 출력 함수

3

In [ ]:
num1 = 13
num1

13

In [ ]:
num2 = 25
num2

25

In [ ]:
num2 = 77
num2

77

In [ ]:
type(num2) # type() : 데이터자료형 확인 함수

int

In [ ]:
num3 = 3.1425
num3

3.1425

In [ ]:
num4 = 1.25
num4

1.25

In [ ]:
num4 = 3.12
num4

3.12

In [ ]:
type(num4)

float

In [ ]:
str1 = "Funny python"
str1

'Funny python'

In [ ]:
str2 = 'Easy python'
str2

'Easy python'

In [ ]:
type(str2)

str

- 변수명 규칙
  - 영문자, 숫자, 언더바(_)로 구성
  - 소문자와 대문자 다르게 인식
  - 숫자로 시작 불가
  - 예약어(찐한초록, for,if,class,def등) 사용불가
  - 명령어(연란초록, sum,print 등) 사용은 가능 but 변수로 사용하면 원래 기능 사라짐
- 권장사항
  - 변수명 첫글자는 가급적 소문자
  - 두 문자 섞을 경우, 두 단어 구분가능하게
  - (ex. numberList(카멜), NumberList(파스칼), number_list(스네이크) 등)

In [ ]:
number = 10
Number = 20
print("number : ", number)
print("Number : ", Number)

number :  10
Number :  20

In [ ]:
num1_num2 = 10
num1_num2

10

In [ ]:
print('나 오늘','너무','씐나') # sep=' '(공백)이 기본값 =>sep를 기준으로 이어줌
print('나 오늘','너무','씐나', sep = '^^')

나 오늘 너무 씐나
나 오늘^^너무^^씐나

In [ ]:
if = 30
if

SyntaxError: invalid syntax (328627015.py, line 1)

In [ ]:
# 파이썬 예약어 확인
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# 둘 이상의 변수 한번에 대입 가능
a, b = 10, 15
print(a); print(b)

str1 = str2 = "python"
print(str1); print(str2)

10
15
python
python

In [ ]:
x,y = 100,200
sum1 = x+y
print(sum1)

300