- for문 : 문자열/리스트/튜플이 들어갔을 때 안에 있는 요소를 하나씩 반복
  - for 변수 in 문자열/리스트/튜플:
      - 실행문

In [1]:
hi = '안녕하세요'
for s in hi:
    print(s)

안
녕
하
세
요

In [2]:
tuple_food = ('햄버거','치킨','피자')
for food in tuple_food:
    print(food)

햄버거
치킨
피자

In [3]:
score_list = [90,45,70,60,55]
num = 1
for score in score_list:
    if score >= 60 :
        print(f'{num}번 학생은 합격입니다.')
    else:
        print(f'{num}번 학생은 불합격입니다.')
    num += 1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [5]:
python_score = [57,86,63,92,35,79]
num=1
for score in python_score:
    if score >= 80:
        grade = 'A'
    elif score >= 60:
        grade = 'B'
    else:
        grade = 'C'
    print(f'{num}번은 {score}점 이며, {grade}등급 입니다.')
    num += 1

1번은 57점 이며, C등급 입니다.
2번은 86점 이며, A등급 입니다.
3번은 63점 이며, B등급 입니다.
4번은 92점 이며, A등급 입니다.
5번은 35점 이며, C등급 입니다.
6번은 79점 이며, B등급 입니다.

- range() 함수 : 필요한 만큼의 숫자를 만들어줌
  - range(시작할 숫자, 종료할 숫자, 증감량)
    - range(1,100,3) : 1부터 99까지 3씩 증가
  - range(기본값0, 종료할 숫자, 기본값1)
    - range(3,10) : 3부터 9까지 1씩 증가
    - range(10) : 0부터 9까지 1씩 증가

In [7]:
for i in range(1,10,1):
    print(i, end=' ') # print()의 end속성 : '\n'이 default값

1 2 3 4 5 6 7 8 9

In [8]:
for i in range(3,10):
    print(i, end=' ')

3 4 5 6 7 8 9

In [9]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for i in range(97,76,-1):
    print(i, end=' ')

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [12]:
for i in range(23,40):
    print(i, end=' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [14]:
for i in range(2,101,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [15]:
for i in range(3,100,3):
    print(i,end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [16]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)

1 2
3 4
5 6

In [19]:
list2 = [4,5,2,1,99,15,2,7,27]
m = list2[0]
for i in list2:
    if i > m:
        m = i
print('가장 큰 수 :', m)

가장 큰 수 : 99

In [20]:
list2 = [4,5,2,1,99,15,2,7,27]
m = list2[0]
for i in list2:
    if i < m:
        m = i
print('가장 작은 수 :', m)

가장 작은 수 : 1

In [22]:
s = 0
for i in range(3,101,3):
    s += i
print('3의 배수인 값들의 합 :', s)

3의 배수인 값들의 합 : 1683

In [24]:
for i in range(1,10):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [33]:
num = int(input('정수 입력 >> '))
print(f'{num}의 약수 :', end=' ')
for i in range(1,num+1):
    if num%i == 0:
        print(i,end=' ')

정수 입력 >> 32
32의 약수 : 1 2 4 8 16 32

In [34]:
for i in range(6):
    print('*'*(i+1))

*
**
***
****
*****
******

In [36]:
star = int(input('줄 수 입력 >> '))
for i in range(star):
    print('*'*(i+1))

줄 수 입력 >> 15
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [40]:
for i in range(1,7):
    print('*'*i) 
for i in range(5,0,-1):   # ****** 틀린문제
    print('*'*i)

*
**
***
****
*****
******
*****
****
***
**
*

In [46]:
l = list(range(2,15,2))
for i in range(1,12):
    if i <= 6 :
        print('*'*i)
    else:
        print('*'*(i-l[i-7]))

*
**
***
****
*****
******
*****
****
***
**
*

In [41]:
start = int(input('첫 번째 정수 입력 >> '))
end = int(input('두 번째 정수 입력 >> '))
for i in range(start,end+1):
    print(i,end=' ')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [45]:
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))
k = int(input('배수 입력 >> '))
s = 0
for i in range(num1, num2+1):
    if i % k == 0 :
        s += i
print(f'{k}의 배수의 합 : {s}')

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 10
배수 입력 >> 3
3의 배수의 합 : 18

In [51]:
name = input('이름을 입력 : ')
number = input('주민번호 입력(7자리) : ')

if number[-1] == '1' or number[-1] == '3':
    gender = '남자'
else:
    gender = '여자'
print(f'{name}님은 {number[:2]}년 {number[2:4]}월 {number[4:6]}일에 태어났고, \
성별은 {gender}입니다.')

이름을 입력 : 민지
주민번호 입력(7자리) : 9811052
민지님은 98년 11월 05일에 태어났고, 성별은 여자입니다.

In [52]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
for i in range(len(s)):
    print(s[-i-1], end='')

Life is too short, You need python.

In [59]:
for i in range(len(s),0,-1):
    print(s[i-1], end='')

Life is too short, You need python.

In [64]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}', end='\t')
    print('')

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [65]:
for j in range(1,10):
    for i in range(2,10):
        print(f'{i}*{j}={i*j}', end='\t')
    print('')

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [69]:
list1 = [1,30,7,9,17,3,5,23,44,32,35]
n1 = n0 = 0
for i in list1:
    if i % 2 == 0 :
        n0 += 1
    else:
        n1 += 1
print(f'짝수 {n0}개, 홀수 {n1}개')

짝수 3개, 홀수 8개

In [77]:
ox = input('OX입력 >> ')
score = 0 # 점수
n = 0 # 연속 정답인 경우의 수
for i in range(len(ox)):
    if ox[i]=='O':
        n += 1
        score += n
    else:
        n = 0
print(f'{score}점')

OX입력 >> OOXOOOXOOO
15점