### 셀 상태
- 파란색 : Command mode
- 초록색 : Edit mode

### 단축키
- 셀 실행
  - Ctrl + Enter : 실행
  - Shift + Enter : 실행 후 셀 추가
- Command Mode에서
  - a : 위에 새로운 셀 추가
  - b : 밑에 새로운 셀 추가
  - x : 셀 잘라내기
  - dd : 셀 삭제
  - c : 셀 복사
  - v : 셀 붙여넣기
  - f : 문자 바꾸기
  - m : Markdown로 변경
  - y : Code로 변경
  - Shift로 여러 셀 선택 후 Shift + m : 셀 합치기
- Edit Mode에서
  - Ctrl + z : 코드 되돌리기
  - Ctrl + y : 코드 되돌린 거 다시 되돌리기
  - Ctrl + d : 해당 코드 한줄 삭제

# 첫번째
- 첫번째
  - 두번째
    - 세번째
## 두번째
### 세번째
#### 네번째

In [76]:
abc1 = 1 # 주석입니다
abc2 = 2

abc3 = 3

abc1

1

# 1. 변수

In [2]:
num = 3
print(num) # print() : 출력 함수

3

In [3]:
num1 = 13
num1

13

In [4]:
num2 = 25
num2

25

In [5]:
num2 = 77
num2

77

In [6]:
type(num2) # type() : 데이터자료형 확인 함수

int

In [7]:
num3 = 3.1425
num3

3.1425

In [8]:
num4 = 1.25
num4

1.25

In [9]:
num4 = 3.12
num4

3.12

In [10]:
type(num4)

float

In [11]:
str1 = "Funny python"
str1

'Funny python'

In [12]:
str2 = 'Easy python'
str2

'Easy python'

In [13]:
type(str2)

str

- 변수명 규칙
  - 영문자, 숫자, 언더바(_)로 구성
  - 소문자와 대문자 다르게 인식
  - 숫자로 시작 불가
  - 예약어(찐한초록, for,if,class,def등) 사용불가
  - 명령어(연란초록, sum,print 등) 사용은 가능 but 변수로 사용하면 원래 기능 사라짐
- 권장사항
  - 변수명 첫글자는 가급적 소문자
  - 두 문자 섞을 경우, 두 단어 구분가능하게
  - (ex. numberList(카멜), NumberList(파스칼), number_list(스네이크) 등)

In [14]:
number = 10
Number = 20
print("number : ", number)
print("Number : ", Number)

number :  10
Number :  20

In [15]:
num1_num2 = 10
num1_num2

10

In [16]:
print('나 오늘','너무','씐나') # sep=' '(공백)이 기본값 =>sep를 기준으로 이어줌
print('나 오늘','너무','씐나', sep = '^^')

나 오늘 너무 씐나
나 오늘^^너무^^씐나

In [17]:
if = 30
if

SyntaxError: invalid syntax (328627015.py, line 1)

In [18]:
# 파이썬 예약어 확인
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
# 둘 이상의 변수 한번에 대입 가능
a, b = 10, 15
print(a); print(b)

str1 = str2 = "python"
print(str1); print(str2)

10
15
python
python

In [20]:
x,y = 100,200
sum1 = x+y
print(sum1)

300

# 2. 문자열
- 이스케이프 코드
  - \n : 개행(줄바꿈)
  - \t : 수평 탭
  - \\ : 문자"\"
  - \' : 작은따옴표
  - \" : 큰따옴표

In [23]:
s1 = "she's gone"
s2 = 'she\'s gone'
print(s1)
print(s2)

she's gone
she's gone

In [27]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [25]:
s = '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

- 문자열 인덱싱(가리킨다), 슬라이싱(잘라낸다)
  - 0부터 인덱스 시작 (오른쪽부터는 -1부터)
  - 인덱싱 : 변수명[인덱스]
  - 슬라이싱 : 변수명[시작값:끝값:오프셋] (끝값은 포함x) (오프셋2이면 0,3,5,...번째 값)
  - a:b 에서 a가 인덱스의 처음값(0)이면, b가 인데스의 마지막값(-1)이면 생략가능
  => 처음부터 n까지는 :n, n부터 끝까지는 n:, 처음부터 끝까지는 :

In [29]:
s = "My name is MJ"
print(s[0])
print(s[8])
print(s[-2])
print(s[-1])

M
i
M
J

In [34]:
s = "My name is MJ"
print(s[0:2])
print(s[3:7])
print(s[8:10])

My
name
is

In [37]:
s = "My name is MJ"
print(s[0:7])
print(s[0:2], s[3:7], sep=' ')
print(s[0:2] + ' ' + s[3:7])
print(s[:7]) # 시작값이 0이면 생략가능

My name
My name
My name
My name

In [41]:
s = "My name is MJ"
print(s[8:13])
print(s[8:])
print(s[-5:])

is MJ
is MJ
is MJ

In [44]:
s = "My name is MJ"
print(s[0:13])
print(s[:])
print(s)

My name is MJ
My name is MJ
My name is MJ

In [47]:
s = "2020년 3월 3일의 날씨의 맑음입니다."
print("날짜 :", s[:11])
print("날씨 :", s[-6:-4])

날짜 : 2020년 3월 3일
날씨 : 맑음

In [49]:
print(f"날짜 : {s[:11]}")
print(f"날씨 : {s[-6:-4]}")

날짜 : 2020년 3월 3일
날씨 : 맑음

- 문자열 포매팅(Formatting)
    - %문자를 이용(%s-문자열, %c-문자1개, %d-정수, %f-실수, %%-문자'%')
    - .format함수 사용
    - f-string

In [52]:
day = 7
s = "오늘은 7월 %d일 입니다."%day
print(s)

day = 8
s = "오늘은 7월 %d일 입니다."%day
print(s)

오늘은 7월 7일 입니다.
오늘은 7월 8일 입니다.

In [54]:
month = 11
day = 5
s = "오늘은 %d월 %d일 입니다."%(month,day)
print(s)

오늘은 11월 5일 입니다.

In [55]:
month = 11
day = 5
s = "오늘은 {}월 {}일 입니다.".format(month,day)
print(s)

오늘은 11월 5일 입니다.

In [56]:
month = 11
day = 5
s = f"오늘은 {month}월 {day}일 입니다."
print(s)

오늘은 11월 5일 입니다.

In [57]:
x = 100
y = 200
sum2 = x+y
print(f"{x}와 {y}의 합은 {sum2}입니다.")

100와 200의 합은 300입니다.

- 문자열 함수
  - count(문자) : 문자열에 포함된 문자의 개수를 세는 함수
  - find(문자) : 문자열 내의 특정 문자의 첫번째 위치(인덱스)를 알려주는 함수
  - '구분자'.join(문자열 리스트) : 문자들을 구분자로 연결시켜주는 함수
  - upper() : 소문자를 대문자로 바꿔주는 함수
  - lower() : 대문자를 소문자로 바꿔주는 함수
  - calpitalize() : 첫글자는 대문자, 나머지는 소문자로 바꿔주는 함수
  - strip() : 양쪽 공백 지우는 함수
  - replace(기존문자, 새문자) : 기존문자를 새로운 문자로 바꿔주는 함수
  - split(기준) : 특정 기준을 통해 좌,우측으로 문자열을 나눠주는 함수
  - endswith(문자) : 특정문자로 끝나면 True, 아니면 False (튜플형태도 가능)
  - startswith(문자) : 특정문자로 시작하면 True, 아니면 False

In [59]:
s = "오늘은 파이썬 수업날입니다. 파이썬 너무 재밌네요!".
print(s.count("파이썬"))
print(s.count("수업"))

2
1

In [62]:
print(s.find("파"))
print(s.find('오'))

4
0

In [65]:
print(' '.join(['오늘','점심 메뉴', '추천좀!']))
print('^^'.join(['오늘','점심 메뉴', '추천좀!']))

오늘 점심 메뉴 추천좀!
오늘^^점심 메뉴^^추천좀!

In [71]:
s = "I'm Still Hungry"
print(s.upper())
print(s.lower())
print(s)
s = s.lower() # 저장은 따로 해야함!
print(s)

I'M STILL HUNGRY
i'm still hungry
I'm Still Hungry
i'm still hungry

In [73]:
s = "    I'm Still Hungry     "
print(s.strip())
print(s.replace('Hungry','Happy'))

I'm Still Hungry
    I'm Still Happy

In [75]:
s = '옆에 공사 현장이 참, 시끄럽네요ㅠ'
print(s.split(","))
print(s.split(" "))

['옆에 공사 현장이 참', ' 시끄럽네요ㅠ']
['옆에', '공사', '현장이', '참,', '시끄럽네요ㅠ']

# 3. 연산자
- 산술 연산자 : 더하기(+), 빼기(-), 곱하기(*), 나누기(/), 몫(//), 나머지(%)
  - 문자열 연산 : str1 + str2 (문자열 합치기), str * n (문자열 n번 반복하기)

In [77]:
num1 = 10
num2 = 7
print(num1/num2) # 나누기
print(num1%num2) # 나머지
print(num1//num2) # 몫

1.4285714285714286
3
1

In [79]:
str1 = '안녕'
str2 = '하세요'
print(str1 + str2)

str1 = "10"
str2 = "7"
print(str1 + str2)

안녕하세요
107

- 형변환 함수 : int(문자열), float(문자열), str(숫자)

In [81]:
num1 = 10
str2 = '7'
print(num1 + int(str2))
print(str(num1) + str2)

17
107

In [86]:
num1 = 23
num2 = 3
print(f"더하기 결과 : {num1+num2}")
print(f"빼기 결과 : {num1-num2}")
print(f"곱하기 결과 : {num1*num2}")
print(f"나누기 결과 : {num1/num2}")

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

- 키보드로 입력받는 input('보이게 할 문장')

In [91]:
num = input("정수를 입력하세요 >> ")
num

정수를 입력하세요 >> 26

'26'

In [92]:
num = int(input("정수를 입력하세요 >> "))
num

정수를 입력하세요 >> 26

26

In [93]:
num1 = int(input('정수를 입력하세요 >> '))
num2 = int(input('정수를 입력하세요 >> '))
print(f"더하기 결과 : {num1+num2}")
print(f"빼기 결과 : {num1-num2}")
print(f"곱하기 결과 : {num1*num2}")
print(f"나누기 결과 : {num1/num2}")

정수를 입력하세요 >> 3
정수를 입력하세요 >> 7
더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 : 0.42857142857142855

In [96]:
py = int(input('python 점수 입력 >> '))
ml = int(input('머신러닝 점수 입력 >> '))
dl = int(input('딥러닝 점수 입력 >> '))
total = py + ml + dl
print('합계 : {}'.format(total))
print('평균 : {}'.format(total/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >> 60
합계 : 240
평균 : 80.0

In [98]:
time = int(input('시간 입력 >> '))
hour = time//3600
minute = (time%3600)//60
second = (time%3600)%60        # time%60과 동일(이유:3600은60의배수)
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >> 7533
2시간 5분 33초

In [106]:
s = "*"
print(s*10)

**********

In [121]:
print('*'*10, '연산하기', '*'*10)
num1 = int(input('정수입력 >> '))
num2 = int(input('정수입력 >> '))
cal = input('+연산자 입력 >> ')

print('{} {} {} = {}'.format(num1,cal,num2,num1+num2))

********** 연산하기 **********
정수입력 >> 10
정수입력 >> 20
+연산자 입력 >> +
10 + 20 = 30

- 지수 연산자 : **

In [122]:
num = int(input('정수 입력 >> '))
power = int(input('지수 입력 >> '))
print('{}의 {}승은 {}입니다.'.format(num,power,num**power))

정수 입력 >> 2
지수 입력 >> 3
2의 3승은 8입니다.