# 3. 연산자
- 산술 연산자 : 더하기(+), 빼기(-), 곱하기(*), 나누기(/), 몫(//), 나머지(%)
  - 문자열 연산 : str1 + str2 (문자열 합치기), str * n (문자열 n번 반복하기)

In [ ]:
num1 = 10
num2 = 7
print(num1/num2) # 나누기
print(num1%num2) # 나머지
print(num1//num2) # 몫

1.4285714285714286
3
1

In [ ]:
str1 = '안녕'
str2 = '하세요'
print(str1 + str2)

str1 = "10"
str2 = "7"
print(str1 + str2)

안녕하세요
107

- 형변환 함수 : int(문자열), float(문자열), str(숫자)

In [ ]:
num1 = 10
str2 = '7'
print(num1 + int(str2))
print(str(num1) + str2)

17
107

In [ ]:
num1 = 23
num2 = 3
print(f"더하기 결과 : {num1+num2}")
print(f"빼기 결과 : {num1-num2}")
print(f"곱하기 결과 : {num1*num2}")
print(f"나누기 결과 : {num1/num2}")

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

- 키보드로 입력받는 input('보이게 할 문장')

In [ ]:
num = input("정수를 입력하세요 >> ")
num

정수를 입력하세요 >> 26

'26'

In [ ]:
num = int(input("정수를 입력하세요 >> "))
num

정수를 입력하세요 >> 26

26

In [ ]:
num1 = int(input('정수를 입력하세요 >> '))
num2 = int(input('정수를 입력하세요 >> '))
print(f"더하기 결과 : {num1+num2}")
print(f"빼기 결과 : {num1-num2}")
print(f"곱하기 결과 : {num1*num2}")
print(f"나누기 결과 : {num1/num2}")

정수를 입력하세요 >> 3
정수를 입력하세요 >> 7
더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 : 0.42857142857142855

In [ ]:
py = int(input('python 점수 입력 >> '))
ml = int(input('머신러닝 점수 입력 >> '))
dl = int(input('딥러닝 점수 입력 >> '))
total = py + ml + dl
print('합계 : {}'.format(total))
print('평균 : {}'.format(total/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >> 60
합계 : 240
평균 : 80.0

In [ ]:
time = int(input('시간 입력 >> '))
hour = time//3600
minute = (time%3600)//60
second = (time%3600)%60        # time%60과 동일(이유:3600은60의배수)
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >> 7533
2시간 5분 33초

In [ ]:
s = "*"
print(s*10)

**********

In [ ]:
print('*'*10, '연산하기', '*'*10)
num1 = int(input('정수입력 >> '))
num2 = int(input('정수입력 >> '))
cal = input('+연산자 입력 >> ')

print('{} {} {} = {}'.format(num1,cal,num2,num1+num2))

********** 연산하기 **********
정수입력 >> 10
정수입력 >> 20
+연산자 입력 >> +
10 + 20 = 30

- 지수 연산자 : **

In [ ]:
num = int(input('정수 입력 >> '))
power = int(input('지수 입력 >> '))
print('{}의 {}승은 {}입니다.'.format(num,power,num**power))

정수 입력 >> 2
지수 입력 >> 3
2의 3승은 8입니다.

- 대입 연산자 : +=, -=, *=, /=

In [ ]:
num = 27
num += 3 # num = num + 3
num

30

In [ ]:
num = 100
num -= 55 # num = num - 55
num

45

In [ ]:
num = 27
num += 3 # num = num + 3
num += 3
num += 3
num

36

In [ ]:
num = 100
num /= 2 # num = num / 2
num /= 2
num

25.0

- 치환

In [ ]:
# 치환
a = 3; b=7
a,b = b,a
print(a); print(b)

7
3

- 비교연산자 : >, >=, <, <=, ==, !=

In [ ]:
a=3
b=7

print(a > b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True

In [ ]:
import random

In [ ]:
a = random.randint(1,10)
b = random.randint(1,10)
print("a:{}, b:{}".format(a,b))

print(a < b)
print(a > b)
print(a == b)
print(a != b)

a:1, b:6
True
False
False
True

- 논리(True,False) 연산자
  - not 논리 : 반대로
  - 논리1 and 논리2 : 둘 다 True이면 True
  - 논리1 or 논리2 : 하나라도 True이면 True

In [ ]:
a = 3
b = 7
print(not a < b)
print(not a == b)

False
True

In [ ]:
print(3>5 and 10==20)
print(3>5 and 10<20)
print(3<5 and 10<20)

False
False
True

In [ ]:
print(3>5 or 10==20)
print(3>5 or 10<20)
print(3<5 or 10<20)

False
True
True

- 삼항 연산자 : a if 조건식 else b
  - ->조건식이 True이면 a, False이면 b

In [ ]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [ ]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [ ]:
a = int(input('정수입력 >> '))
b = int(input('정수입력 >> '))
print(f'a: {a}') if a>b else print(f'b: {b}')

정수입력 >> 3
정수입력 >> 10
b: 10

In [ ]:
a = int(input('첫 번째 정수 입력 >> '))
b = int(input('두 번째 정수 입력 >> '))
result = a-b if a>b else b-a
print(f'두 수의 차 : {result}')

첫 번째 정수 입력 >> 33
두 번째 정수 입력 >> 5
두 수의 차 : 28

In [ ]:
num = int(input('정수 입력 >> '))
result = '짝수' if num%2==0 else '홀수'
print(f'{num}는(은) {result}입니다.')

정수 입력 >> 22
22는(은) 짝수입니다.